@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboot', sans-serif;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 80px;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 1em;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    font-weight: 300;
    color: #adadad;
    transition: 600ms;
}

nav ul li a:hover {
    color: #f5f5f7;
}


/*--- section welcome ---*/

.welcome {
    width: 100%;
    height: 100vh;
    background-color: #e8f6f5;
}

.welcome .container-acceuil {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "Iphone-13-Acceuil AirPods-Acceuil Ipad-Acceuil";
    justify-items: center;
    padding: 0 200px;
    max-width: 100%;
}

.apple-logo-cadeau {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Iphone-13-Acceuil {
    grid-area: Iphone-13-Acceuil;
}

.AirPods-Acceuil {
    grid-area: AirPods-Acceuil;
}

.Ipad-Acceuil {
    grid-area: Ipad-Acceuil;
}

.welcome h1 {
    color: #000;
    font-weight: 300;
    font-size: 3rem;
    font-weight: 600;
}

.welcome a h6 {
    color: #0066cc;
    font-size: 1.5rem;
}

.container-acceuil img {
    width: 100%;
    height: auto;
}


/*--- section product ---*/

.iphone13-Section {
    width: 100%;
    height: 100vh;
}

.title-iphone-13-pro {
    text-align: center;
}

.title-iphone-13-pro h1 {
    color: #000;
    font-weight: 300;
    font-size: 7rem;
    font-weight: 600;
}

.title-iphone-13-pro h3 {
    color: #000;
    font-weight: 300;
    font-size: 3.5rem;
    font-weight: 200;
}

.title-iphone-13-pro pre {
    color: #0066cc;
    font-size: 2rem;
    font-weight: 400;
}

.iphone13-pro-banner {
    background-image: url('https://www.apple.com/v/home/ai/images/heroes/iphone-13-pro/hero_iphone_13pro__dhnsegysa42u_largetall_2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.title-iphone-13 {
    text-align: center;
}

.title-iphone-13 h1 {
    color: #fff;
    font-weight: 300;
    font-size: 7rem;
    font-weight: 600;
}

.title-iphone-13 h3 {
    color: #fec2eb;
    font-weight: 300;
    font-size: 3.5rem;
    font-weight: 200;
}

.title-iphone-13 pre {
    color: #0066cc;
    font-size: 2rem;
    font-weight: 400;
}

.iphone13-banner {
    background-image: url('https://www.apple.com/v/home/ai/images/heroes/iphone-13/hero_iphone_13__f194u1rdooeq_largetall_2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.iphone-13 {
    background-color: #35283c;
}


/* fin content */


/* debut prefooter */

.pre-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "Mac-footer Watch-footer" "Homepod-footer Airpods-footer" "Ipadmini-footer AppleTv-Footer";
}

.pre-footer img {
    width: 100%;
    height: auto;
}

.pre-footer .title-pre-footer {
    text-align: center;
}

.pre-footer .title-pre-footer h1 {
    color: #000;
    font-weight: 300;
    font-size: 3.5rem;
    font-weight: 600;
}

.pre-footer .title-pre-footer h3 {
    color: #000;
    font-weight: 300;
    font-size: 2rem;
    font-weight: 200;
}

.pre-footer .title-pre-footer pre {
    color: #0066cc;
    font-size: 1rem;
    font-weight: 400;
}

.Mac-footer {
    grid-area: Mac-footer;
}

.Watch-footer {
    grid-area: Watch-footer;
}

.Watch-footer span {
    color: #d3474d;
    font-size: 1rem;
}

.Homepod-footer {
    grid-area: Homepod-footer;
}

.Airpods-footer {
    grid-area: Airpods-footer;
}

.Ipadmini-footer {
    grid-area: Ipadmini-footer;
}

.AppleTv-Footer {
    grid-area: AppleTv-Footer;
    background: url('https://www.apple.com/euro/home/x/screens_alt/images/promos/tv-plus-swan-song/tile_swan_song__ciotl96w8x36_large_2x.jpg');
    background-size: cover;
}

.pre-footer .AppleTv-Footer .title-pre-footer h1 {
    color: #fff;
}

.pre-footer .AppleTv-Footer .title-pre-footer h3 {
    color: #fff;
    font-size: 1rem;
}


/*--- footer ---*/

footer {
    width: 100%;
    height: 500px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-main {
    width: 1070px;
}

.footer-detail {
    font-size: .7rem;
    color: #95a5a6;
    padding: 20px 0;
    border-bottom: 1px solid #bdc3c7;
}

.footer-detail a {
    color: #2c3e50;
}

.footer-detail a:hover {
    text-decoration: underline;
}

.footer-ul {
    display: flex;
    justify-content: space-between;
}

.footer-ul ul {
    list-style: none;
}

.footer-ul ul li {
    margin: 7px 0;
}

.footer-ul ul li h4 {
    color: #34495e;
    font-size: .7rem;
}

.footer-ul ul li a {
    color: #7f8c8d;
    font-size: .7rem;
}

.footer-ul ul li a:hover {
    text-decoration: underline;
}

#mt {
    padding-top: 30px;
}

.footer-contact {
    border-bottom: 1px solid #bdc3c7;
    padding: 12px 0;
    margin: 10px 0;
    color: #7f8c8d;
    font-size: .7rem;
}

.footer-contact a {
    color: #3498db;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.footer-copyright {
    color: #7f8c8d;
    font-size: .7rem;
    display: flex;
    justify-content: space-between;
}

.footer-fin ul {
    display: flex;
    list-style: none;
    width: auto;
    padding-bottom: 20px;
}

.footer-fin ul li {
    margin: 0 10px;
}

.footer-fin ul li a {
    color: #000;
}

.footer-fin ul li a:hover {
    text-decoration: underline;
}

.vr {
    height: 15px;
    width: 1px;
    background: #000;
}

.footer-lang {
    display: flex;
}

.footer-lang p {
    margin: 0 10px;
}

.circle {
    width: 15px;
    height: 15px;
}

.circle img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
}